<h1><%= @user.name %></h1>
<%= @user.email %>
<% if current_user?(@user) %>
  <p>Edit profile <%= link_to "settings", edit_user_path %></p>
<% end %>
<% unless @records.published.empty? %>
  <h2>recently published:</h2>
  <div class="records-feed">
    <%= render @records %> 
    <%= will_paginate @records %>
  </div>
<% end %>
