<div class="record-form">
  <%= form_for @record do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
    <%= f.label :content, "Please start writing !" %>
  <div>
    <%= f.text_area :content, :rows => 20, :cols => 80 %>
  </div>
  <div>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
    <%= f.submit "Record" %>
  </div>
  <% end %>
</div>
