<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <table>
      <tr>
      <% if signed_in? %>
        <td width="150" valign="top" class="nav">
          <%= render 'layouts/navigation', :flash => flash %>
        </td>
      <% end %>
        <td valign="top" class="container">
        <%= render 'layouts/flash', :flash => flash %>
            <%= yield %>
        </td>
      </tr>
    </table>
    <%= debug( @debug_info ) if @debug_info && Rails.env.development? %>
  </body>
</html>
